.about-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 100px 0px;
}

.about-image {
    width: 50%;
    padding: 0px 150px 0px 150px;
}

.about-text-container {
    letter-spacing: 1.5px;
    width: 50%;
    padding: 0px 150px 0px 150px;
    border-left: 1px solid black;
    line-height: 2;
}

.about-title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 25px;
}

.about-content {
    font-size: 16px;
    width: 100%;
}

.email-link {
    text-decoration: underline;
    color: black;
}

@media (max-width: 1500px) {
    .about-image {
        padding: 0px 100px 0px 100px;
    }

    .about-text-container {
        width: 70%;
        padding: 0px 100px 0px 100px;

    }
}

@media (max-width: 1300px) {
    .about-image {
        padding: 0px 50px 0px 50px;
    }

    .about-text-container {
        width: 70%;
        padding: 0px 50px 0px 50px;
    }
}

@media (max-width: 1000px) {
    .about-container {
        flex-direction: column;
    }

    .about-image {
        width: 80%;
        padding: 0px 50px 0px 50px;
    }

    .about-text-container {
        margin-top: 50px;
        text-align: center;
        width: 80%;
        padding: 0px 00px 0px 0px;
        border: none;
    }
}