.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 100px;
}

.carousel-header {
    margin-top: 75px;
    text-align: center;
    width: 60%;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 2;
    border-bottom: 1px solid black;
    padding-bottom: 25px;
}

.carousel-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

.wrapper-1 {
    transition: margin 1s;
}

.carousel-image {
    width: 85%;
}

.carousel-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin-left: -50%;
    color: white;
    padding: 25px;
    line-height: 1.5;
    position: absolute;
    z-index: 2;
}

.carousel-title {
    letter-spacing: 1.6px;
    font-size: 16px;
    width: 100%;
}

.carousel-description {
    font-size: 14px;
    letter-spacing: 1.4px;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.carousel-project-link {
    text-decoration: none;
    color: black;
    background-color: rgb(195, 195, 195);
    font-size: 16px;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    transition: font-size .3s;
}

.carousel-project-link:hover {
    font-size: 18px;
    cursor: pointer;
}

.carousel-button-container {
    display: flex;
}

.carousel-button {
    border: none;
    padding: 30px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Staatliches';
    transition: font-size .1s;
}

.carousel-button:hover {
    font-size: 60px;
    cursor: pointer;
}

@media(max-width: 800px) {
    .carousel-image {
        width: 100%;
    }

    .carousel-description-container {

        width: 35%;

        margin-left: -60%;

    }
}

@media(max-width: 650px) {
    .carousel-title {
        font-size: 12px;
        margin-bottom: 25px;
    }

    .carousel-description {
        display: none;
    }

    .carousel-project-link {
        font-size: 12px;
        padding: 5%;
    }
}