<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Digital Bible Tract Design</title>
    <meta name="description" content="A project page for my digital Bible Tract design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/projects/project.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="projects.html" class="navigation-link">PROJECTS</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>            
            <li class="navigation-link-holder-collapse"><a href="projects.html" class="navigation-link-collapse">PROJECTS</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="project">
        <h2 class="project-header">Bible Tract Website Design</h2>
        <article class="project-container">
            <div class="project-block">
                <p class="project-description">The goal of this project was to design a Bible tract website for a 
                    client. All images and content were provided by the client. The website was built using the brochure 
                    template from my component library (<a href="projectOne.html" target="_blank" class="project-link">Component Library</a>). 
                    It is a fully responsive design and the first image shows the landing page from a desktop PC. 
                    The website can be visited here: <a href="https://bibletrack.github.io/track.github.io/" target="_blank" class="project-link">Bible Tract Website.</a></p>
                <img src="../styles/pictures/projectSix/BibleTractOne.png" alt="Component library github files." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectSix/BibleTract.png" alt="Component library codepen." class="project-image">
                <p class="project-description">The second image shows a contact page as seen on a tablet. The website 
                    was designed with mobile users as the main focus and is viewable on any device, as the client uses a QR code 
                    to share the website. </p>
            </div>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-logo-container">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo" class="footer-logo">
        </div>

        <div class="footer-navigation-container">
            <h2 class="footer-navigation-header">Thanks for visiting!</h2>
            <ul class="footer-nav-links">
                <li class="footer-link-list"><a href="../index.html" class="footer-link">HOME</a></li>
                <li class="footer-link-list"><a href="projects.html" class="footer-link">PROJECTS</a></li>
                <li class="footer-link-list"><a href="about.html" class="footer-link">ABOUT</a></li>
                <li class="footer-link-list"><a href="contact.html" class="footer-link">CONTACT</a></li>
            </ul>
        </div>

        <div class="footer-contact-container">
            <h3 class="footer-contact-header">Contact Information:</h3>
            <p class="contact-info">For questions or business inquiries, please contact at <a
                    href="mailto:narlocka@gmail.com" class="footer-email">narlocka@gmail.com</a></p>

            <p class="footer-tag">This website was designed by Andrew Narlock - Narlock Web Design 2024</p>
        </div>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>