<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project: Website Redesign</title>
    <meta name="description" content="A project page for my website redesign project.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/projects/project.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="projects.html" class="navigation-link">PROJECTS</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>            
            <li class="navigation-link-holder-collapse"><a href="projects.html" class="navigation-link-collapse">PROJECTS</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="project">
        <h2 class="project-header">Website Redesign</h2>
        <article class="project-container">
            <div class="project-block">
                <p class="project-description">This project was completed for an Advanced Web Design 
                    course provided by the University of Washington in 2021. The goal of the project 
                    was to work with team members to redesign an educational website for a local 
                    business. The website was built using WordPress and designed by myself and three 
                    other teamates. The final website was approved by the client and can be viewed 
                    here: <a href="https://care7.htsun.ds.lib.uw.edu/" target="_blank" class="project-link">Care Website.</a> The first image is a screenshot of the original website and the second image is a screenshot of the finished redesign.</p>
                <img src="../styles/pictures/projectThree/projThreeOne.jpg" alt="Original Care website homepage." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectThree/projThreeTwo.jpg" alt="Updated Care website homepage" class="project-image">
                <p class="project-description">The website was built by following a brand guide provided
                    by the client which was an incredibly useful tool for maintaning continuity across different pages. It was important for us to meet with the client in order to 
                    understand their needs and to get their input through different iterations of the 
                    design process. Overall, the client was very happy with the final result.</p>
            </div>
            <div class="project-block">
                <p class="project-description">The website needed to be designed in a way that allowed
                    users to register for a structured curriculum provided by the client. It also 
                    included a searchable library of content that the client used while conducting 
                    classes. We designed the website to be responsive and highly accessible for users 
                    who may not be as familiar with online courses and content.</p>
                <img src="../styles/pictures/projectThree/projThreeThr.jpg" alt="Library for Care website." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectThree/projThreeFou.jpg" alt="Registration page for Care website." class="project-image">
                <p class="project-description">Users are able to track their progress, communicate with 
                    the professor, and browse content when they register for the course. The redesign 
                    dramatically improved the user experience across the website and allowed for my teamates 
                    and I to better understand the web design process in a professional environment.</p>
            </div>
            <div class="project-block">
                <p class="project-description">A site map was used in the early stages of planning in 
                    order to strategize how the content should be laid out across the website. This is just one example of the
                    many different tools and strategies that we implemented to optimize the user experience 
                    of the website. Many design deliverables, such as this site map, were built using Figma.</p>
                <img src="../styles/pictures/projectThree/projThreeFiv.jpg" alt="Sitemap for Care website." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectThree/projThreeSix.jpg" alt="Wireframe for Care website." class="project-image">
                <p class="project-description">Another example of a design deliverable that was used 
                    for this project is the wireframe. This image is a wireframe of the landing page 
                    and was used to help us visualize how the content should be structured on the page. 
                    This became an important tool for content management. 
                    <br>
                    <br>
                    The project was a great opportunity for me to learn about advanced web design 
                    principles that are used in professional settings. The UX design strategies 
                    involved in this project have proven to be incredibly useful for my other web 
                    design and developement projects and I am looking forward to learning more.</p>
            </div>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-logo-container">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo" class="footer-logo">
        </div>

        <div class="footer-navigation-container">
            <h2 class="footer-navigation-header">Thanks for visiting!</h2>
            <ul class="footer-nav-links">
                <li class="footer-link-list"><a href="../index.html" class="footer-link">HOME</a></li>
                <li class="footer-link-list"><a href="projects.html" class="footer-link">PROJECTS</a></li>
                <li class="footer-link-list"><a href="about.html" class="footer-link">ABOUT</a></li>
                <li class="footer-link-list"><a href="contact.html" class="footer-link">CONTACT</a></li>
            </ul>
        </div>

        <div class="footer-contact-container">
            <h3 class="footer-contact-header">Contact Information:</h3>
            <p class="contact-info">For questions or business inquiries, please contact at <a
                    href="mailto:narlocka@gmail.com" class="footer-email">narlocka@gmail.com</a></p>

            <p class="footer-tag">This website was designed by Andrew Narlock - Narlock Web Design 2024</p>
        </div>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>