<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project: Online Newsletter Redesign</title>
    <meta name="description" content="A project page for my newsletter redesign project.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/projects/project.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="projects.html" class="navigation-link">PROJECTS</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>            
            <li class="navigation-link-holder-collapse"><a href="projects.html" class="navigation-link-collapse">PROJECTS</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="project">
        <h2 class="project-header">IAS UW Alumni Newsletter Redesign</h2>
        <article class="project-container">
            <div class="project-block">
                <p class="project-description">This project was finished as an assignment for my first 
                    Advanced Web Design course at the University of Washington. The goal of the 
                    project was to redesign the UWT Alumni Online Newsletter as shown in the first 
                    image. The project was completed by three teamates and myself by implementing UX 
                    design and content management strategies discussed during class.</p>
                <img src="../styles/pictures/projectFour/projFourOne.jpg" alt="Original Newsletter landing page." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectFour/projFourTwo.jpg" alt="Updated newsletter landing page." class="project-image">
                <p class="project-description">The second image is a screenshot of the final redesign 
                    that was built using WordPress. The final design was a dramatic improvement from 
                    the original in nearly every aspect. The content and pages on the website were 
                    completely restructured in order to improve navigation and user experience across 
                    the website. We were able to use official images and UW colors as a sort of brand 
                    guide for the design.</p>
            </div>
            <div class="project-block">
                <p class="project-description">One of the main improvements to the site was the layout 
                    of the content. The original website included several articles that needed to be 
                    organized into appropriate pages and lists. The third image shows a screenshot of 
                    a page dedicated to articles written about UW Alumni.</p>
                <img src="../styles/pictures/projectFour/projFourThr.jpg" alt="Article page for newsletter website." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectFour/projFourFou.jpg" alt="Social links for newsletter website." class="project-image">
                <p class="project-description">We were also responsible for building contact and about 
                    pages which included links to a variety of UW social media accounts. This was an 
                    important improvement to the website as it allows users to further connect with 
                    the owners of the website.</p>
            </div>
            <div class="project-block">
                <p class="project-description">The last image is a screenshot of the first sitemap that my 
                    team constructed. The goal of this design document is to strategize and consider how the pages 
                    and navigation will be laid out across the site in the most effective way. It proved 
                    to be one of many useful tools for improving the overall user experience of the 
                    website.</p>
                <img src="../styles/pictures/projectFour/projFourFiv.jpg" alt="Sitemap for newsletter redesign." class="project-image">
            </div>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-logo-container">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo" class="footer-logo">
        </div>

        <div class="footer-navigation-container">
            <h2 class="footer-navigation-header">Thanks for visiting!</h2>
            <ul class="footer-nav-links">
                <li class="footer-link-list"><a href="../index.html" class="footer-link">HOME</a></li>
                <li class="footer-link-list"><a href="projects.html" class="footer-link">PROJECTS</a></li>
                <li class="footer-link-list"><a href="about.html" class="footer-link">ABOUT</a></li>
                <li class="footer-link-list"><a href="contact.html" class="footer-link">CONTACT</a></li>
            </ul>
        </div>

        <div class="footer-contact-container">
            <h3 class="footer-contact-header">Contact Information:</h3>
            <p class="contact-info">For questions or business inquiries, please contact at <a
                    href="mailto:narlocka@gmail.com" class="footer-email">narlocka@gmail.com</a></p>

            <p class="footer-tag">This website was designed by Andrew Narlock - Narlock Web Design 2024</p>
        </div>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>