<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project: New Gen Wrestling Club Website Design</title>
    <meta name="description" content="A project page for my design process for New Gen Wrestling Club.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/projects/project.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="projects.html" class="navigation-link">PROJECTS</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>            
            <li class="navigation-link-holder-collapse"><a href="projects.html" class="navigation-link-collapse">PROJECTS</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="project">
        <h2 class="project-header">New Gen Wrestling Club Website Design</h2>
        <article class="project-container">
            <div class="project-block">
                <p class="project-description">The goal of this project was to design a bold and welcoming website for New Gen 
                    Wrestling Club. I started out by meeting with the client to understand what they need from a new website, 
                    as this would be their first. They really just needed something to share information about the club, such as
                    scheduling and membership costs. The strategy for the new design was to build something inviting for new students
                    that also represents the winning spirit of the school. The finished website can be found here:
                    <a href="https://ngwc.github.io/ngwc/" target="_blank" class="project-link">New Gen Wrestling Club.</a> (some client
                    information has been changed in this copy of the design)</p>
                <img src="../styles/pictures/projectSeven/finalpic.png" alt="Component library github files." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectSeven/sitemapngwc.png" alt="Site map and color palette for NGWC." class="project-image">
                <p class="project-description">After meeting with my client I was able to utilize the information and brand guide to 
                    start working on the content strategy. A site map was created to help me visualize how I wanted to break the 
                    information into different pages. I also was able to get a logo and color palette which made some of the 
                    planning simpler as I had an idea for the aesthetics they were looking for.</p>
            </div>
            <div class="project-block">
                <p class="project-description">Some basic wireframes and low fidelity prototypes were constructed to help figure out 
                    the spacing and layout of the content.</p>
                <img src="../styles/pictures/projectSeven/lowfid.png" alt="Low fidelity prototype landing page." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectSeven/prototypes.png" alt="Three prototype designs for NGWC." class="project-image">
                <p class="project-description">Three different prototypes were designed so that the client had some choice and could
                    point out specific details that they wanted from each design. While the client ultimately wanted the first prototype,
                    having multiple paths available made it easier to determine where they wanted to go with the design. The first 
                    prototype used bolder colors and backgrounds while the other designs got progressively more reserved. Overall,
                    the client was very satisfied with the results and was happy that we were able to meet and iterate over the designs
                    in order to come to a final result.</p>
            </div>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-logo-container">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo" class="footer-logo">
        </div>

        <div class="footer-navigation-container">
            <h2 class="footer-navigation-header">Thanks for visiting!</h2>
            <ul class="footer-nav-links">
                <li class="footer-link-list"><a href="../index.html" class="footer-link">HOME</a></li>
                <li class="footer-link-list"><a href="projects.html" class="footer-link">PROJECTS</a></li>
                <li class="footer-link-list"><a href="about.html" class="footer-link">ABOUT</a></li>
                <li class="footer-link-list"><a href="contact.html" class="footer-link">CONTACT</a></li>
            </ul>
        </div>

        <div class="footer-contact-container">
            <h3 class="footer-contact-header">Contact Information:</h3>
            <p class="contact-info">For questions or business inquiries, please contact at <a
                    href="mailto:narlocka@gmail.com" class="footer-email">narlocka@gmail.com</a></p>

            <p class="footer-tag">This website was designed by Andrew Narlock - Narlock Web Design 2024</p>
        </div>
    </footer>


    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>
