<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project: Gym Review Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/projects/project.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo." class="navigation-icon">

            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">HOME</a></li>
                <li class="navigation-link-holder"><a href="projects.html" class="navigation-link">PROJECTS</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">ABOUT</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">CONTACT</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html" class="navigation-link-collapse">HOME</a></li>            
            <li class="navigation-link-holder-collapse"><a href="projects.html" class="navigation-link-collapse">PROJECTS</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html" class="navigation-link-collapse">ABOUT</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html" class="navigation-link-collapse">CONTACT</a></li>
        </ul>
    </nav>

    <main class="project">
        <h2 class="project-header">Gym Review Website</h2>
        <article class="project-container">
            <div class="project-block">
                <p class="project-description">This project was completed by following <i>The Web 
                    Developer Bootcamp 2023</i> provided by Colt Steele and Udemy.com. It is a full 
                    stack web application that allows users to leave reviews for gyms that they have 
                    visited. The site is no longer available for users due to hosting price changes, 
                    but the following article provides a few screenshots of the website from a users 
                    perspective. </p>
                <img src="../styles/pictures/projectTwo/projOneOne.jpg" alt="Landing page for Gym Review Website." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectTwo/grOne.png" alt="Package JSON file for Gym Review Site." class="project-image">
                <p class="project-description">I have added a screenshot of the package.JSON file to 
                    show what dependencies were used to build the application. It consists of an 
                    Express, Node, MongoDB backend and implements several middleware packages for 
                    security, routing, and authentication, such as Helmet, Mongoose, and Passport. 
                    The front end was built with reusable templates and EJS. Web APIs, such as 
                    MapBox, were used for features such as geolocation. </p>
            </div>
            <div class="project-block">
                <p class="project-description">Users are able to authenticate and view from a list of 
                    gyms that have been reviewed, as well as creating and editing their own reviews, 
                    and commenting on other reviews. Once a user has posted a review for a gym, a 
                    heatmap is updated to show other users the location of that gym.</p>
                <img src="../styles/pictures/projectTwo/projOneTwo.jpg" alt="Main gym reviews page." class="project-image">
            </div>
            <div class="project-block">
                <img src="../styles/pictures/projectTwo/projOneThr.jpg" alt="Gym review page for a specific gym." class="project-image">
                <p class="project-description">A gym review will display the gyms location, along 
                    with the reviewers description and a rating out of ten stars. Other users are 
                    able to comment on the review page and add their own rating which is added to 
                    the overall gym rating and averaged out.</p>
            </div>
            <div class="project-block">
                <p class="project-description">The owner of a gym review page can change any 
                    information or pictures that have been posted with their review. The UI and 
                    navigation are extremely user-friendly and responsive. Future improvements to 
                    the application could include more customization for user profiles and better 
                    searching for specific gym reviews, but since it was built for the sake of 
                    learning full stack architecture, the website will probably not be updated 
                    any time soon.</p>
                <img src="../styles/pictures/projectTwo/projOneFou.jpg" alt="Edit gym review page." class="project-image">
            </div>
        </article>
    </main>

    <footer class="footer">
        <div class="footer-logo-container">
            <img src="../styles/pictures/NWDLogoSmall.png" alt="NWD Logo" class="footer-logo">
        </div>

        <div class="footer-navigation-container">
            <h2 class="footer-navigation-header">Thanks for visiting!</h2>
            <ul class="footer-nav-links">
                <li class="footer-link-list"><a href="../index.html" class="footer-link">HOME</a></li>
                <li class="footer-link-list"><a href="projects.html" class="footer-link">PROJECTS</a></li>
                <li class="footer-link-list"><a href="about.html" class="footer-link">ABOUT</a></li>
                <li class="footer-link-list"><a href="contact.html" class="footer-link">CONTACT</a></li>
            </ul>
        </div>

        <div class="footer-contact-container">
            <h3 class="footer-contact-header">Contact Information:</h3>
            <p class="contact-info">For questions or business inquiries, please contact at <a
                    href="mailto:narlocka@gmail.com" class="footer-email">narlocka@gmail.com</a></p>

            <p class="footer-tag">This website was designed by Andrew Narlock - Narlock Web Design 2024</p>
        </div>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>