.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgb(36, 36, 36);
    padding: 75px;
    color: white;
    margin: 75px 0px;
}

.about-header {
    width: 80%;
    font-size: 18px;
    letter-spacing: 1.4px;
    line-height: 2;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
}

.about-words {
    width: 80%;
    font-size: 16px;
    letter-spacing: 1.4px;
    line-height: 2;
    margin-bottom: 50px;
}

.about-email-link {
    text-decoration: underline;
    color: white;
}

@media(max-width: 950px) {
    .about-content {
        width: 100%;
        padding: 50px;
    }
}

@media(max-width: 650px) {
    .about-header {
        width: 100%;
    }

    .about-words {
        width: 100%;
    }
}